<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>io.swagger.jaxrs.listing,edu.ucla.library.libservices.hours.services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Jersey2Config</servlet-name>
    <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
    <init-param>
      <param-name>api.version</param-name>
      <param-value>2.0.0</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.basepath</param-name>
      <param-value>https://webservices.library.ucla.edu/calendar</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SwaggerBootstrap</servlet-name>
    <servlet-class>edu.ucla.library.libservices.hours.servlets.SwaggerBootstrap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SwaggerBootstrap</servlet-name>
    <url-pattern>/swaggerbootstrap</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>iid.ucla</param-name>
    <param-value>3244</param-value>
  </context-param>
  <context-param>
    <param-name>libcal.allhours</param-name>
    <param-value>theYear</param-value>
  </context-param>
  <context-param>
    <param-name>units.all</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>weeks.year</param-name>
    <param-value>52</param-value>
  </context-param>
</web-app>
