<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>edu.ucla.library.libservices.hours.application.CalendarApp</param-value>
    </init-param>
    <!--init-param> 
      <param-name>com.sun.ws.rest.config.property.resourceConfigClass</param-name> 
      <param-value>com.sun.ws.rest.api.core.PackagesResourceConfig</param-value> 
    </init-param> 
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.ucla.library.libservices.hours.services</param-value>
    </init-param-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>iid.ucla</param-name>
    <param-value>3244</param-value>
  </context-param>
  <context-param>
    <param-name>libcal.allhours</param-name>
    <param-value>theYear</param-value>
  </context-param>
  <context-param>
    <param-name>units.all</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <param-name>weeks.year</param-name>
    <param-value>52</param-value>
  </context-param>
</web-app>
